.showstopper{
    height: 500px;
    background-image: url("Images/show\ stopper\ m2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
}

.card-img-top{
    align-items: center;
    height: 270px;
}

.card{
    margin-bottom: 10px;
    min-height: 540px;
}

.profile{
    width: 300px;
    border-radius: 10px;
    max-height: 400px;
}

.banana {
    display: flex;
    margin-top: 10px;
    align-items: center;
}
 section .card{
    margin-left: 10px;
    max-width: 900px;
     
}
