.showstopper{
    height: 500px;
    background-image: url("./Images/show stopper m2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumboCopy {
    width: 70%;
    max-width: 700px;
    color: white;
    text-align: center;
    align-items: center;
}

.card-img-top{
    height: 180px;
}

.cardContainer{
    margin-bottom: 10px;
    max-height: 650px;
    
}

 section .card{
    margin: 10px;
    max-width: 900px;    
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text horizontally */
}